.nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    z-index: 1;
}
/* .nav_black{
    background-color: #111; */
.nav_logo{
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.nav_avatar{
    right: 20px;
    width: 30px;
    object-fit: contain;
}
.navbar
{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 0 20px;
}